.babies {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: cornflowerblue;
  position: absolute;
  width: 77%;
  right: 15px;
  top: 10px;
  align-self: center;
  text-align: center;
  align-items: center;
  justify-content: center;
  overflow: scroll;
  max-height: 460px;
}

.babies h1 {
	font-family: "Orienta", sans-serif; 
  font-size: 40px; 
  line-height: 100px; 
  font-weight: bold; 
  margin-bottom: 0px; 
  margin-top: 0px; 
  text-align: center; 
  text-shadow: 0 1px 1px plum;
  color: black;
}

.t-wrapper{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}